<html>
<body>
<table th:fragment="registrationForm">
    <tr>
        <td><p th:text="#{dentist.name}">dentist.name</p></td>
        <td>
            <select id="dentistName" name="dentistName">
                <option th:each="dentist: ${dentists}" th:value="${dentist.getName()}" th:text="${dentist.getName()}"
                        th:selected="${dentist.checkIfSelectedInDentistVisitDTO(selectedVisit)}">
                </option>
            </select>
        </td>
        <td th:if="${#fields.hasErrors('dentistName')}" th:errors="*{dentistName}">name.error</td>
    </tr>
    <tr>
        <td><p th:text="#{visit.date}">visit.date</p></td>
        <td>
            <select id="visitDate" name="visitDate">
                <option th:each="visitDate: ${dates}" th:value="${visitDate.toString()}" th:text="${visitDate.toString()}"
                        th:selected="${visitDate.checkIfSelectedInDentistVisitDTO(selectedVisit)}">
                </option>
            </select>
        </td>
        <td th:if="${#fields.hasErrors('visitDate')}" th:errors="*{visitDate}">date.error</td>
    </tr>
    <tr>
        <td><p th:text="#{visit.time}">visit.time</p></td>
        <td>
            <select id="visitTime" name="visitTime">
                <option th:each="visitTime: ${times}" th:value="${visitTime.toString()}" th:text="${visitTime.toString()}"
                        th:selected="${visitTime.checkIfSelectedInDentistVisitDTO(selectedVisit)}">
                </option>
            </select>
        </td>
        <td th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}">time.error</td>
    </tr>
    <tr>
        <td>
            <button type="submit" th:text="#{register.visit}"></button>
        </td>
    </tr>
</table>

</body>
</html>