<html>
<head>
    <title>Search</title>
</head>
<body>
<div th:fragment="search">
    <p> Searching</p>
    <form action="#" th:action="@{/registrationList/search}" th:object="${searchForm}" method="post">
        <table>
            <tr>
                <td><p>search for</p></td>
                <td>
                    <input type="text" th:field="*{dentistNameSearch}"/>
                </td>
                <td th:if="${#fields.hasErrors('dentistNameSearch')}" th:errors="*{dentistNameSearch}">name error</td>
            </tr>
            <tr>
                <td>
                    <button type="submit">search</button>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>