<html>
<body>
<!--script type="text/javascript" th:src="@{/js/testActions.js}"></script-->
<!--button type="button" th:onclick="showAlert()">Show Alert</button-->
<div th:replace="fragments/navbar :: navigation"> </div>
<form action="#" th:action="@{/}" th:object="${dentistVisitDTO}" method="post">
    <div th:if="${#fields.hasErrors('global')}">
        <h3>Server side errors:</h3>
        <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
    </div>
    <table>
        <tr>
            <td><p th:text="#{dentist.name}">dentist.name</p></td>
            <td>
                <select th:field="*{dentistName}">
                    <option th:each="dentist: ${dentists}" th:value="${dentist.getName()}" th:text="${dentist.getName()}">
                    </option>
                </select>
            </td>
            <td th:if="${#fields.hasErrors('dentistName')}" th:errors="*{dentistName}">name.error</td>
        </tr>
        <tr>
            <td><p th:text="#{visit.date}">visit.date</p></td>
            <td>
                <!--input type="text" th:field="*{visitDate}"/-->
                <select th:field="*{visitDate}">
                    <option th:each="visitDate: ${dates}" th:value="${visitDate.toString()}" th:text="${visitDate.toString()}">
                    </option>
                </select>
            </td>
            <td th:if="${#fields.hasErrors('visitDate')}" th:errors="*{visitDate}">date.error</td>
        </tr>
        <tr>
            <td><p th:text="#{visit.time}">visit.time</p></td>
            <td>
                <select th:field="*{visitTime}">
                    <option th:each="visitTime: ${times}" th:value="${visitTime.toString()}" th:text="${visitTime.toString()}">
                    </option>
                </select>
            </td>
            <td th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}">time.error</td>
        </tr>
        <tr>
            <td>
                <button type="submit" th:text="#{register.visit}"></button>
            </td>
        </tr>
    </table>
</form>
</body>

</html>