<html>
<body>
    <div th:replace="fragments/navbar :: navigation"> </div>
    <table>
        <tr>
            <td>
                <p th:text="#{registrationList.header}">registrationList.header</p>

            </td>
        </tr>
        <tr th:each="oneRegistration: ${registrations}">
            <td th:text="${oneRegistration.id}" />
            <td th:text="${oneRegistration.dentistName}" />
            <td th:text="${oneRegistration.visitDate}" />
            <td th:text="${oneRegistration.visitTime}" />
        </tr>

    </table>
</body>
</html>