<html>
<body>
    <div th:replace="fragments/navbar :: navigation"> </div>
    <div th:replace="fragments/searchBox :: search"> </div>

    <tr th:if="${search == null}">
        <h2 th:text="#{registrationList.header}">registrationList.header</h2>
    </tr>
    <tr th:unless="${search == null}">
        <h2>Search results</h2>
    </tr>

    <table>
        <tr>
            <td th:text="#{registrationList.header.id}"> registrationList.header.id </td>
            <td th:text="#{registrationList.header.dentistName}"> registrationList.header.dentistName </td>
            <td th:text="#{registrationList.header.visitDate}"> registrationList.header.visitDate </td>
            <td th:text="#{registrationList.header.dentistTime}"> registrationList.header.dentistTime </td>
            <td> details </td>
        </tr>

        <tr th:if="${registrations.empty}">
            <td colspan="2"> No found registrations </td>
        </tr>

        <tr th:each="oneRegistration: ${registrations}">
            <td th:text="${oneRegistration.id}" />
            <td th:text="${oneRegistration.dentistName}" />
            <td th:text="${oneRegistration.getVisitDateString()}" />
            <td th:text="${oneRegistration.getVisitTimeString()}" />
            <td>
                <a th:href="@{/details/{id}(id = ${oneRegistration.id})}">details</a>
            </td>
        </tr>

    </table>
</body>
</html>